.card:hover .up {
    transform: translateY(-200px);
  }
  .up {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  
  .up:hover {
    transform: translateY(-200px);
  }
     